<div class="form-custom">
    <form method="post" action="/results/">

        {% csrf_token %}

        <label for="id" class="h1" style="margin-bottom: 1.5%">ID участника</label>
        <br>
        <input type="text" id="id" name="id" class="input-custom" placeholder="Например, 1815522" autocomplete="off" onfocus="add()" onblur="remove()">
        <hr id="hr-custom">

        <button type="submit" class="btn btn-primary btn-custom" style="margin-top: 2%">Показать результаты</button>

    </form>
</div>